global
    daemon
    maxconn 256

defaults
    mode http
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend http-in
    bind *:80
    default_backend servers

backend servers
    balance roundrobin
    server web1 172.18.0.11:80 check
    server web2 172.18.0.12:80 check
    server web3 172.18.0.13:80 check
